html,
body {
  border: 0px none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;

  background: url(../images/map_picker/background.jpg) center;

  color: #fff;
  font-size: 140%;

 font-family:  leagueGothic;
 text-shadow: -2px 0px 8px #333, 0px 0px 5px #000;
}

@font-face {
  font-family: leagueGothic;
  src: url(../fonts/leaguegothic-regular-webfont.woff);
}

/* unvisited link */
a,
a:link,
a:visited,
a:hover,
a:active {
  /* color: #418bca; */
  color: #fff;
  text-decoration: none;
}

table {
  border: 0px none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;

  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

/* Disable ghosting when dragging image */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.select {
  border-style: outset;
  border-color: #60fa2a;
  border-width: 10px;
}

.ban {
  border-style: inset;
  border-color: #ff1001;
  border-width: 10px;
}

/* FLEXBOX */

#game_container {
  display: flex;
  height: 100%;
}

.game_selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game_selector a,
.game_selector img {
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


#maps_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  box-sizing: content-box;
}

.map_column, .enabled, .disabled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  flex-basis: 25%;
  position: relative;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  user-select: none;
  text-align: center;
}

.map_heading{
  padding-top: 7%;
  padding-bottom: 7%;
}

.maps_selector, .enabled, .disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  flex-basis: 25%;
  position: relative;
  height: auto;
  width: 100%;
  text-transform: uppercase;
  user-select: none;
}

.control_section{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 100%;
  outline: none; /*sometime javascript clicks cause weird outline*/

}

.control_section p {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: calc(100% - 1em);
  text-align: center;
  margin: 0;
  height: 50%;
  padding: .5em;

}

.button-section {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-basis: 25%;
  position: relative;
  height: auto;
  width: 100%;
  outline: none; /*sometime javascript clicks cause weird outline*/
}

.headers-section {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 25%;
  position: relative;
  height: auto;
  min-width: 100%;
  outline: none; /*sometime javascript clicks cause weird outline*/
}

/* .maps_selector p, #homeAction, #backAction, #selectionComplete {
  max-width: 100%;

  padding: .75em;
} */



.enabled::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  background: linear-gradient(rgba(0, 153, 0, 0.4), rgba(0, 102, 0, 0.6));
  outline: none; /*sometime javascript clicks cause weird outline*/

}

.disabled::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  background: linear-gradient(rgba(153, 0, 0, 0.3), rgba(193, 0, 0, 0.5));
  outline: none; /*sometime javascript clicks cause weird outline*/
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
